<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/start"
        android:label="Metagram"
        android:roundIcon="@drawable/start"
        android:supportsRtl="true"
        android:theme="@style/Theme.Instagram"
        tools:targetApi="31">
        <activity
            android:exported="false"
            android:name=".MainActivity"
            android:label="">
        </activity>
        <activity
            android:exported="false"
            android:name=".Register"
            android:label="">
        </activity>
        <activity
            android:exported="false"
            android:name=".Login"
            android:label="">
        </activity>
        <activity
            android:exported="false"
            android:name=".ProfileActivity"
            android:label="">
        </activity>
        <activity
            android:exported="false"
            android:name=".FollowActivity"
            android:label="">
        </activity>
        <activity
            android:exported="false"
            android:name=".ProfileStalking"
            android:label="">
        </activity>
        <activity
            android:exported="false"
            android:name=".SearchActivity"
            android:label="">
        </activity>
        <activity
            android:exported="false"
            android:name=".Pooja"
            android:label="">
        </activity>
        <activity
            android:exported="false"
            android:name=".ChatBackground"
            android:label="">
        </activity>
        <activity
            android:exported="false"
            android:name=".Comment"
            android:label="">
        </activity>
        <activity
            android:exported="false"
            android:name=".Saved"
            android:label="">
        </activity>
        <activity android:name=".AgreePost"
            android:exported="false"></activity>
        <activity android:name=".Image"
            android:exported="false"></activity>
        <activity android:name=".Self"
            android:exported="false"></activity>
        <activity android:name=".Start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>